@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Righteous&display=swap');

.title h1 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 4rem;
    -webkit-text-stroke: 1px #282727;
}

.title p {
    margin: 0;
    margin-bottom: 30px;
    font-size: 1.5rem;
    -webkit-text-stroke: 1px #282727;
}

.subtitle {
    font-family: 'Audiowide', cursive;
    font-size: x-large;
}